
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-image: url("./img/450_1000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}




section {
    height: 500px;
    width: 400px;
    background-color: #85858531;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    z-index: 9999;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    cursor: all-scroll;    
    border: 5px solid #c5c5c531;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.logo {
    border-radius: 50%;
    height: 250px;
    box-shadow: 0px 0px 30px 5px #000000bf;
    transition: .5s;
}

.logo:hover {
    box-shadow: 0px 0px 30px 5px #ffffffbf
}

h1 {
    display: inline-block;
    color: #ffffff;
    font-size: 30px;
    margin-top: 18px;
}

h2 {
    display: inline-block;
    color: #ffffff;
    margin-top: 15px;
}

.container {
    height: 90px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    height: 70px;
    background-color: #ffffff;
    border-radius: 30%;
    margin: 0 30px;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 18px 8px #000000bf;
    transition: .5s;
}

.container img:hover {
    box-shadow: 0px 0px 18px 8px #ffffffbf
}

/* .cell::after {
    content: 'wqwq';
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: red;
} */